$background-color: #1366A8;
$primary-color: #6D829D;
$primary-color-focus: #5A6D87;
$shadow-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(0, 0, 0, 0.15);
$card-background-color: #ffffff;
$success-color: #27ae60;
$error-color: #e74c3c;
